<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateUpdateUser</title>
</head>
<body>
    <p><b>Please enter the Customer details to update</b></p>
    <form action = "http://localhost:7000/createuserdata" method = "POST">
    <p>Customer ID <input type = "text" name = "custnumber" /></p>
    <p>First Name <input type = "text" name = "fname" /></p>
    <p>Middle Name <input type = "text" name = "mname" /></p>
    <p>Last Name<input type = "text" name = "lname" /></p>
    <p>Date of Birth(mm/dd/yyyy)<input type = "text" name = "dob" /></p>
    <p>Mobile Number<input type = "text" name = "mobnumber" /></p>
    <p>Gender<input type = "text" name = "gender" /></p>
    <p>Country of Birth<input type = "text" name = "cob" /></p>
    <p>Country of Residence<input type = "text" name = "cor" /></p>
    <p>Customer Segment<input type = "text" name = "customersegment" /></p>
    <p>Resident Address Type<input type = "text" name = "resaddtype" /></p>
    <p>Address Line 1<input type = "text" name = "resline1" /></p>
    <p>Address Line 2<input type = "text" name = "resline2" /></p>
    <p>Address Line 3<input type = "text" name = "resline3" /></p>
    <p>Address Line 4<input type = "text" name = "resline4" /></p>
    <p>Res Country Code<input type = "text" name = "rescouncode" /></p>
    <p>Zip Code<input type = "text" name = "reszipcode" /></p>
    <p>Res Stage<input type = "text" name = "resstage" /></p>
    <p>Res City<input type = "text" name = "rescity" /></p>
    <p>Office Address<input type = "text" name = "offaddtype" /></p>
    <p>Address Line 1<input type = "text" name = "offline1" /></p>
    <p>Address Line 2<input type = "text" name = "offline2" /></p>
    <p>Address Line 3<input type = "text" name = "offline3" /></p>
    <p>Address Line 4<input type = "text" name = "offline4" /></p>
    <p>Office Country Code<input type = "text" name = "offcoucode" /></p>
    <p>Zip Code<input type = "text" name = "offzipcode" /></p>
    <p>Office State<input type = "text" name = "offstate" /></p>
    <p>Office City<input type = "text" name = "offcity" /></p>
    <p><input type = "submit" value = "submit" /></p>
</form>
</body>
</html>