<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CustomerData</title>
</head>
<body>
<p><button onclick="window.location.href = '/createUser.html';">Create User</button><br></p>
<p><button onclick="window.location.href = '/deleteuser.html';">Delete User</button><br></p>
<p><button onclick="window.location.href = '/createUser.html';">Update User</button><br></p>
<p><button onclick="window.location.href = '/getuser.html';">Display User</button><br></p>
</body>
</html>
